			<div class="row">
				<div class="col-lg-4" style='margin-top: 15px;'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Поиск персонажа
                        </div>
                        <div class="panel-body">
                            <p>При помощи данной функции вы можете найти персонажа или игрока и управлять им</p>
                        </div>
                        <div class="panel-footer">
                            <a href='/admin/search' onclick='return Admin.change_tab(this.href);'>Найти персонажа</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style='margin-top: 15px;'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Параметры персонажей
                        </div>
                        <div class="panel-body">
                            <p>При помощи данной функции можно задавать различные статические и динамические характеристики персонажа</p>
                        </div>
                        <div class="panel-footer">
                            <a href='/admin/params' onclick='return Admin.change_tab(this.href);'>Параметры персонажа</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style='margin-top: 15px;'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Инвентарь
                        </div>
                        <div class="panel-body">
                            <p>При помощи данной функции можно создавать различные многофункциональные игровые предметы.</p>
                        </div>
                        <div class="panel-footer">
                            <a href='/admin/inv' onclick='return Admin.change_tab(this.href);'>Инвентарь</a>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="row" style='margin-top: 15px;'>
				<div class="col-lg-4" style='margin-top: 15px;'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Общие настройки
                        </div>
                        <div class="panel-body">
                            <p>Здесь можно настроить общие правила системы персонажей</p>
                        </div>
                        <div class="panel-footer">
                            <a href='/admin/charconf' onclick='return Admin.change_tab(this.href);'>Конфигурация персонажей</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style='margin-top: 15px;'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Надписи
                        </div>
                        <div class="panel-body">
                            <p>Настройка статических надписей вроде названий стандартных параметров, мультиязычных надписей, названий платных услуг и пр.</p>
                        </div>
                        <div class="panel-footer">
                            <a href='/admin/texts' onclick='return Admin.change_tab(this.href);'>Редактор текста</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style='margin-top: 15px;'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Экономика
                        </div>
                        <div class="panel-body">
                            <p>Здесь можно настраивать валюты, экономическую систему</p>
                        </div>
                        <div class="panel-footer">
                            <a href='/admin/money' onclick='return Admin.change_tab(this.href);'>Экономика</a>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="row" style='margin-top: 15px;'>
				<div class="col-lg-4" style='margin-top: 15px;'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Удаление персонажей
                        </div>
                        <div class="panel-body">
                            <p>Опасная процедура. Рекомендуется к применению только при крайней необходимости</p>
                        </div>
                        <div class="panel-footer">
                            <a href='/admin/delete' onclick='return Admin.change_tab(this.href);'>Удаление персонажей</a>
                        </div>
                    </div>
                </div>
				<div class="col-lg-4" style='margin-top: 15px;'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Действия над персонажами
                        </div>
                        <div class="panel-body">
                            <p>Здесь можно отредактировать список скриптовых действий над персонажами. Обратите внимание, что для перехвата таких действий используется обработчик событий <b>char_act</b></p>
                        </div>
                        <div class="panel-footer">
                            <a href='/admin/acts' onclick='return Admin.change_tab(this.href);'>Список действий</a>
                        </div>
                    </div>
                </div>
			</div>