<?php
	try 
	{
		if(isset($_GET['add'])) {
			\Database\Current::insert('inv_items', array('name' => $_GET['add'], 'vars' => 'a:0:{}', 'image' => ''));
			\Database\Cache::delete('inv_items');
			\History\Logger::add($viewer->name, "добавляет предмет {$_GET['add']}", 'admin', 'list');
			die;
		}
		
		if(isset($_POST['_id'])) {
			$apply = \Database\Current::update('inv_items', array('_id' => $_POST['_id']), $_POST);
			\Database\Cache::delete('inv_items');
			\History\Logger::add($viewer->name, "обновляет предмет {$_POST['_id']}", 'admin', 'list');
		}
		
		if(isset($_GET['edit'])) {
			$params = \Database\Current::getOne('inv_items', array('_id' => $_GET['edit']));
		} else {
			$params = \Database\Current::getAll('inv_items', array());
		}
	}
	catch(Exception $e) {
		echo "<script>alert('Неизвестная ошибка');</script>";
	}
?>
			<?php if(isset($_GET['edit'])) { ?>
				<?php if(isset($apply) and $apply >= 1) { ?>
				<script>alert('Предмет изменен');</script>
				<?php } ?>
				<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3>Предмет <b><?=isset($params['name']) ? $params['name'] : 'без имени';?></b><h3>
							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<form role="form" method="POST" action="">
											<div class="form-group">
												<label for="disabledSelect">ID</label>
												<input class="form-control" type="text" name="_id" value="<?=isset($params['_id']) ? $params['_id'] : '';?>">
												<p class="help-block">Изменение кода может нарушить работу игры</p>
											</div>
											<div class="form-group"> 
												<label>Название</label>
												<input class="form-control" name="name" value="<?=isset($params['name']) ? $params['name'] : '';?>">
												<p class="help-block">Данное название по умолчанию отображается в инвентаре</p>
											</div> 
											<div class="form-group"> 
												<label>Изображение предмета</label>
												<input class="form-control" name="image" value="<?=isset($params['image']) ? $params['image'] : '';?>">
												<p class="help-block">По умолчанию отображается в инвентаре</p>
											</div> 
											<div class="form-group"> 
												<label>Список переменных</label>
												<input class="form-control" name="vars" value="<?=isset($params['vars']) ? (is_array($params['vars']) ? serialize($params['vars']) : $params['vars']) : '';?>">
												<p class="help-block">Указываются в формате сериализованного массива PHP. Если не хотите использовать или не понимаете, что это, напишите <b>a:0:{}</b></p>
											</div> 
											<button type="submit" class="btn btn-default">Сохранить</button>
										</form>
									</div>
									<!-- /.col-lg-6 (nested) -->
								</div>
							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
			<?php } else { ?>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Предметы [<a href='<?=\Raptor\Config::WEB_ROOT;?>admin/inv' onclick='return add_new();'>Создать</a>]
							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
										<table class="table table-condensed">
											<thead>
												<td><b>ID</b></td>
												<td><b>Название</b></td>
												<td><b></b></td>
											</thead>
											<?php if(isset($params)) { foreach($params as $v) { ?>
											<tr>
												<td><?=$v['_id'];?></td>
												<td><img src='<?=$v['image'];?>'> <?=$v['name'];?></td>
												<td><a onclick='return Admin.change_tab(this.href);' href='?edit=<?=$v['_id'];?>'><b>Изменить</b></a></td>
											</tr>
											<?php } } ?>
										</table>
							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
				
				<script>
					function add_new()
					{
						if(!confirm("Вы уверены?")) { return false; }
						name = prompt("Выберите название предмета", "");
						if(!name) return false;
						$.get('<?=\Raptor\Config::WEB_ROOT;?>admin/inv', {'add': name}, function(data) { window.location = '?'; });
						return false;
					}
				</script>
			<?php } ?>