<?php
	$params = [];
	
	try 
	{
		if(isset($_GET['add'])) {
			\Database\Current::insert('char_act', ['_id' => $_GET['add'], 'name' => '', 'eval' => 'return false;']);
			\Database\Cache::delete('char_act');
			\History\Logger::add($viewer->name, "добавляет действие {$_GET['add']}", 'admin', 'database');
			die;
		}
		
		if(isset($_POST['_id'])) {
			$apply = \Database\Current::update('char_act', array('_id' => $_POST['_id']), $_POST);
			\Database\Cache::delete('char_act');
			\History\Logger::add($viewer->name, "обновляет действие {$_POST['_id']}", 'admin', 'database');
		}
		
		if(isset($_GET['edit'])) {
			$params = \Database\Current::getOne('char_act', array('_id' => $_GET['edit']));
		} else {
			$params = \Database\Current::getAll('char_act', array());
		}
	}
	catch(Exception $e) {
		die("<script>alert('Неизвестная ошибка');</script>");
	}
?>
			<?php if(isset($_GET['edit'])) { ?>
				<?php if(isset($apply) and $apply >= 1) { ?>
				<script>alert('Действие изменено');</script>
				<?php } ?>
				<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3>Действие <b><?=isset($params['name']) ? $params['name'] : 'без имени';?></b><h3>
							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<form role="form" method="POST" action="">
											<div class="form-group">
												<label for="disabledSelect">ID действия</label>
												<input class="form-control" type="text" name="_id" value="<?=isset($params['_id']) ? $params['_id'] : '';?>">
												<p class="help-block">Рекомендуются к использованию только символы латинского алфавита и цифры</p>
											</div>
											<div class="form-group">
												<label for="disabledSelect">Название</label>
												<input class="form-control" type="text" name="name" value="<?=isset($params['name']) ? $params['name'] : '';?>">
											</div>
											<div class="form-group">
												<label for="disabledSelect">Условие доступности</label>
												<input class="form-control" type="text" name="eval" value="<?=isset($params['eval']) ? $params['eval'] : '';?>">
												<p class="help-block">Должно возвращать значение, сводимое к true/false. Проверяйте синтаксис перед сохранением, иначе могут возникнуть ошибки</p>
											</div>
											<button type="submit" class="btn btn-default">Сохранить</button>
										</form>
									</div>
									<!-- /.col-lg-6 (nested) -->
								</div>
							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
			<?php } else { ?>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								Действия над персонажами [<a href='#' onclick='return add_new();'>Создать</a>]
							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
										<table class="table table-condensed">
											<thead>
												<td><b>ID</b></td>
												<td><b>Название</b></td>
												<td><b></b></td>
											</thead>
											<?php foreach($params as $v) { ?>
											<tr>
												<td><?=$v['_id'];?></td>
												<td><?=$v['name'];?></td>
												<td><a onclick='return Admin.change_tab(this.href);' href='?edit=<?=$v['_id'];?>'><b>Изменить</b></a></td>
											</tr>
											<?php } ?>
										</table>
							</div>
							<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
					</div>
					<!-- /.col-lg-12 -->
				</div>
				
				<script>
					function add_new()
					{
						name = prompt("Выберите код действия (0-9, a-z, A-Z)", "");
						if(!name) return false;
						$.get('/admin/acts', {'add': name}, function(data) { 
							window.location = '?'; 
						});
						return false;
					}
				</script>
			<?php } ?>