<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Личный кабинет</title>

        <!-- Bootstrap core CSS-->
        <link href="<?=\Raptor\Config::WEB_ROOT;?>storage/predef/bootstrap.min.css" rel="stylesheet">
        <link href="<?=\Raptor\Config::WEB_ROOT;?>storage/predef/main.css" rel="stylesheet">
    </head>

    <body>

        <div class="container">

            <!-- Static navba-->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><?=\Raptor\Config::game_title;?></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#"><?=$player->login;?></a></li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>-->
                        </ul>

                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid-->
            </nav>
            <!-- Modal -->
            <center>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Создание нового персонажа</h4>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-info" role="alert">Выбирайте имя персонажа тщательно, сменить его вы сможете только обратившись в тех.поддержку</div>
                                <form class="form-horizontal" method="post" action="/cabinet/new">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Имя персонажа</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="name" required class="form-control" id="inputEmail3" placeholder="Введите имя персонажа">
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                                <input type="submit" class="btn btn-success" value="Создать">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </center>
            
            <!-- Main component for a primary marketing message or call to action-->
            <div class="jumbotron">
                <h1>Личный кабинет персонажа</h1>
                <h2>Привет, <?=$player->login;?></h2>
                <p>Начните играть прямо сейчас, или ознакомьтесь со всеми функциями личного кабинета для более комфортной игры!</p>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="glyphicon glyphicon-plus-sign"></i> Новый персонаж (у вас <?=count($chars);?>)</button>
				<button type="button" onclick="return new_password()" class="btn btn-success">Сменить пароль</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Имя персонажа</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
							<?php foreach($chars as $c) { ?>
							<tr> 
								<td><a href="/cabinet/select?id=<?=(string)$c->_id;?>"><?=($c->name)?></a></td>
							</tr>
							<?php } ?>
                    </tbody>
                </table>

                <p>
                    <a class="btn btn-sm btn-primary" href="/wiki" role="button">Ознакомиться с документацией по игре &raquo;</a>
                </p>
            </div>

        </div> <!-- /container -->
        <footer class="footer">
            <div class="container">
                <p class="text-muted">&copy 2013-2016, RAPTOR Game Engine</p>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript
        ================================================== 
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="<?=\Raptor\Config::WEB_ROOT;?>storage/predef/jquery-1.11.0.js"></script>
        <script src="<?=\Raptor\Config::WEB_ROOT;?>storage/predef/bootstrap.min.js"></script>
		<script>
			function new_password()
			{
				password = prompt('Придумайте новый пароль');
				if(!password) return;
				$.get('<?=\Raptor\Config::WEB_ROOT;?>cabinet/password', {'new': password}, function(data) {
					alert(data);
				});
				return false;
			}
		</script>
    </body>
</html>
