<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><?=\Raptor\Config::game_title;?></title>

    <meta name="description" content="RAPTOR Game Engine game">
    <meta name="author" content="RAPTOR Game Engine">

    <link href="<?=\Raptor\Config::WEB_ROOT;?>storage/predef/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
	<script>
		function modal_set(url)
		{
			$('#modal-iframe')[0].src = url;
		}
	</script>
    <div class="container-fluid">
		<div class="row" style='margin-top: 15px;'>
			<div class="col-md-3">
				<div class="list-group" id="chat-messages">
					<div class="list-group-item"><b>%NICK%</b>: %MESSAGE%</div>
				</div>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-7">
							<input class="form-control" id="inputEmail3" type="text" />
						</div>
						<div class="col-sm-2">
							<button type="submit" onclick="return false;" class="btn btn-default">
								Отправить
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<div class="row">
					<ul class="nav nav-tabs">
						<li class="active">
							<a id="modal-1" onclick="modal_set('/profile/<?=$char->_id;?>');" href="#modal-container-1" role="button" class="btn" data-toggle="modal">Профиль</a>
						</li>
						<li class="active">
							<a id="modal-1" onclick="modal_set('/inventory');" href="#modal-container-1" role="button" class="btn" data-toggle="modal">Инвентарь</a>
						</li>
						<li class="active">
							<a id="modal-1" onclick="modal_set('/money');" href="#modal-container-1" role="button" class="btn" data-toggle="modal">Баланс</a>
						</li>
						<?php if(count($char->perms) >= 1) { ?>
						<li class="active">
							<a href="/admin" role="button" class="btn" target="_blank">Админ-панель</a>
						</li>
						<?php } ?>
						<li class="active">
							<a href="/auth/logout" role="button" class="btn" data-toggle="modal">Выход</a>
						</li>
					</ul>
				</div>
				<div class="row" style='margin-top: 10px;'>
					<?=($char->__get('location') == 0 ? '<h3>Вы не находитесь в какой-либо локации</h3>' : $char->location->asHTML());?>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Локация "<?=$char->location->name;?>"
					</div>
					<div class="panel-body">
						<ul class="media-list">
							<?php foreach(\Auth\Char::onlineList(true) as $ch) { ?>
								<li class="media">
									<div class="media-body">
										<div class="media">
											<a class="pull-left" href="#">
												<img class="media-object img-circle" style="max-height:40px;" src="<?=\Raptor\Config::WEB_ROOT;?>storage/predef/avatar.png" />
											</a>
											<div class="media-body" >
												<a type="button" id="charact_<?=$ch->id;?>" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#"><?=$ch->name;?> <b class="caret"></b></a>
												<p><small class="text-muted"><?=$ch->status;?></small></p>
												<ul class="dropdown-menu" role="menu" aria-labelledby="charact_<?=$ch->id;?>">
													<?php foreach(\Auth\Char::getActions() as $k => $v) { ?>
														<li><a tabindex="-1" href="#" onclick="Game.char_click('<?=$ch->id;?>', '<?=$v['_id'];?>')"><?=$v['name'];?></a></li>
													<?php } ?>
												</ul>
											</div>
										</div>
									</div>
								</li>
							<?php } ?>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modal-container-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width: 1200px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						×
					</button>
				</div>
				<div class="modal-body">
					<iframe id='modal-iframe' width=1150 height=550 src='/profile/<?=$char->_id;?>'></iframe>
				</div>
			</div>
		</div>
	</div>

  <script src="<?=\Raptor\Config::WEB_ROOT;?>storage/predef/jquery.min.js"></script>
  <script src="<?=\Raptor\Config::WEB_ROOT;?>storage/predef/bootstrap.min.js"></script>
  <script src="<?=\Raptor\Config::WEB_ROOT;?>storage/predef/raptorge.js"></script>
  </body>
</html>